{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container_lien_form">
        <h1>Inscription</h1>
        <a class="lien_form" href="http://localhost:8000/login"><h2 class="titre_form">Connexion</h2></a>
        <a href='/' class="lien_form"><h2 class="titre_form">Retour à l'accueil</h2></a>
    </div>

    <div class="container_form">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <div id="last_logged_input">
            {{ form_row(registrationForm.last_logged) }}
        </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
